<!DOCTYPE html>
<html>
	<head>
		<title>马太目欢乐颂+</title>
		<style type="text/css">
			html {
				margin: 0 auto;
				height: 100%;
				padding: 0;
			}
			body {
				margin: 0 auto;
				padding: 0;
				text-align: center;
				height: 100%;
				font-size: 12px;
			}
			span {
				color: red;
				display: inline;
			}
			a {
				color: black;
				text-decoration: none;
			}
			#main {
				margin: 0 auto;
				width: 290px;
				height: 100%;
				/*vertical-align: middle;
				padding-top: 160px;*/
				border-image: url(/dame09plus/images/border3.png) 0 15 0 15   /0 15px repeat repeat;
				-moz-border-image: url(/dame09plus/images/border3.png) 0 15 0 15   /0 15px repeat repeat;
				-o-border-image: url(/dame09plus/images/border3.png) 0 15 0 15   /0 15px repeat repeat;
				-webkit-border-image: url(/dame09plus/images/border3.png) 0 15 0 15   /0 15px repeat repeat;
			}
			#content {
				padding-top: 160px;
			}
			#notice {
				/*font-size: 10px;*/
            	font-weight: bolder;
            	padding-top: 12px;
			}
			.links {
				font-size: 10px;
            	padding-top: 20px;
			}
		</style>
    	<%#= javascript_include_tag "application" %>
	</head>
	<body>
		<div id="main">
			<div id="content">
				<%= image_tag("banner.png") %>
				<br/>
				某脱腐中程序猿的废言满载日记站
				<br/>
				混有少量票友级瞎眼版权绘
				<br/>
				对<span>二次元</span>、<span>再创作</span>等词汇不明或反感者请<span>全速脱出</span>
				<div id="notice">
					本站内容与原作者、制作公司、历史人物等无关
					<br/>
					特此声明
				</div>
				<div class="links">
					<%#= link_to "AJAX版入口", top_path(:type => :js) %><span>（推荐，请确保开启javascript）</span>
					<br/>
					<%#= link_to "传统版入口", top_path(:type => :html) %>
				</div>
				<div class="links">
					<% if false #current_user %>
			    		<%= current_user.username %>
			    		<% if current_user.has_role?("admin") %>
			    			<%= link_to '管理界面', admin_path %>
			    		<% end %>
			    		<%= link_to '注销', destroy_session_path(:user), :method => :delete %>
		    		<% elsif false %>
			    		<%= link_to '登录', new_session_path(:user) %>
			    		<%= link_to '注册', new_registration_path(:user) %>
		    		<% end %>
	    		</div>
			</div>
		</div>
	</body>
</html>
